.submit {
    background-color:#7fdbda;
    border: none;
    color: white;
    padding: 15px 32px;    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
  }