.container {
    display: inline-block;    
    width: 50%;
    vertical-align: top;
}

div.cube:hover p.name {
    background: #607588;
    color: white;
}

.star {
    width: 25px;    
}

.star-button {
    margin: 10px;
}