.container {
    display: inline-block;
    border: 1px solid #2b415433;
    background: white;
    width: 23%;
    vertical-align: top;
}

div.cube:hover p.name {
    background: #607588;
    color: white;
}