.container {
    background: black;
    padding: 1em;
    text-align: center;
    color: white;
    font-size: 20px;
}

.footer-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ede682;
}